body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  white-space: pre;
}

.blue {
  color: blue;
}

.cyan {
  color: cyan;
}

.green {
  color: green;
}

.magenta {
  color: magenta;
}

.red {
  color: red;
}

.white {
}

.yellow {
  color: yellow;
}